.git
.github
.idea
.vscode
.cursor
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
.phpunit.cache
.phpunit.result.cache
public/build
public/docs
public/hot
.env
.env.*
!.env.example
